html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;

    background: url("blue-space.jpg") no-repeat center center fixed;
    background-size: cover;

    font-family: Arial, sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;
}

.center {
    color: white;
    font-size: 48px;
    text-align: center;
}


