html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #1b0ab4; /* navy */
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    color: white;
    font-size: 48px;
    text-align: center;
}
