html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: #007BFF; /* blue */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-size: 3rem;
    margin: 0;
}
